<cp-create
  [showAddButton]="true"
  [showExportMenu]="true"
  [showFilterMenu]="false"
  [showSearch]="true"
  [showFilter]="false"
  [addButtonText]="'Yeni Kayıt'"
  [hasAddPermission]="permissionsService.ifPermit('POST.Writing.YemekKartiTanimiEkle')"
  [hasFilterPermission]="permissionsService.ifPermit('POST.Writing.YemekKartiTanimiEkle')"
  [searchPlaceholder]="'Arama...'"
  [enabledExportOptions]="exportOptions"
  (add)="create()"
  (search)="filterList($event)"
  (export)="handleExport($event)">
</cp-create>
