<app-base-dialog
  [dialogTitle]="dialogTitle"
  [titleIcon]="titleIcon"
  [titleIconColor]="titleIconColor"
  [frm]="frm"
  [fields]="fields"
  [saveButtonText]="saveButtonText"
  [cancelButtonText]="cancelButtonText"
  (formSubmit)="onFormSubmit($event)"
>
  <div dialog-content>
    <div class="container">
      <div class="row">
        <div class="col">
          <file-pond
            #myPond
            [options]="pondOptions"
            [files]="pondFiles"
            (oninit)="pondHandleInit()"
            (onaddfile)="pondHandleAddFile($event)"
            (onactivatefile)="pondHandleActivateFile($event)"
          >
          </file-pond>
        </div>
      </div>
    </div>
  </div>
</app-base-dialog>
