<app-cp-list
  [data]="tableData"
  [columns]="columns"
  [config]="tableConfig"
  [features]="tableFeatures"
  [actions]="tableActions"
  [sortConfig]="sortConfig"
  [totalRows]="totalRows"
  [isLoading]="isDataLoading"
  (rowClick)="onRowClick($event)"
  (pageChange)="onPageChange($event)"
  (update)="addRol($event)"
  (updateOne)="updateChangePassword($event)"
  (updateTwo)="updateUserEmployee($event)"
  (filterMenuRequested)="handleFilterMenu($event)"
  (delete)="getList()"
  [filterValue]="filterValue"
  >
</app-cp-list>
