<router-outlet></router-outlet>
<script src="assets/js/slider-clip.js"></script>
<ngx-spinner size="default" name="s1" type="ball-scale-multiple"></ngx-spinner>

<ngx-spinner name="s2"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-newton-cradle"
>
  <p style="font-size: 20px; color: white">loading...</p>
</ngx-spinner>


<ngx-spinner name="sbar"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-newton-cradle"
>
  <p style="font-size: 20px; color: white">QR kodu Okunyor...</p>
</ngx-spinner>
<ngx-spinner size="default" name="s3" type="ball-atom"></ngx-spinner>
<ngx-spinner size="default" name="s4" type="ball-pulse"></ngx-spinner>
