<form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
  <app-base-dialog
    [dialogTitle]="dialogTitle"
    [titleIcon]="titleIcon"
    [frm]="frm"
    (formSubmit)="onSubmit($event)">
    <div dialog-content>

    <div class="container">
      <div class="row">
        <div class="col">
          <mat-form-field style="width: 100% !important;" appearance="outline">
            <mat-label>Yeni Şifre</mat-label>
            <input matInput #inputpassword maxlength="100" formControlName="newPassword" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="end">{{inputpassword.value.length}}/100  karakter kaldı</mat-hint>
            <mat-error *ngIf="frmControls?.['password']?.errors?.['required']">Lütfen Şifre Giriniz.</mat-error>
            <mat-error *ngIf="frm?.hasError('passwordMismatch')">Lütfen, Şifre eşleşmiyor.</mat-error>
        </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field style="width: 100% !important;" appearance="outline">
            <mat-label>Şifre Tekrar</mat-label>
            <input matInput #inputpasswordConfirm maxlength="100"  formControlName="confirmPassword" [type]="hided ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hided = !hided" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hided">
              <mat-icon>{{hided ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="end">{{inputpasswordConfirm.value.length}}/100  karakter kaldı</mat-hint>
            <mat-error *ngIf="frmControls?.['passwordConfirm']?.errors?.['required']">Lütfen Şifre Tekrar Giriniz.</mat-error>
            <mat-error *ngIf="frm?.hasError('passwordMismatch')">Lütfen Şifre eşleşmiyor.</mat-error>
        </mat-form-field>
        </div>
      </div>
    </div>

  </div>
</app-base-dialog>
</form>

